# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS X
.DS_Store

# Assets may be copied from source to bin when compiling
# We don't want to store these twice in the repository
bin/*.png
bin/*.bmp
bin/*.obj
